.table {
  &__content {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 1px 10px $dark-gray;
    @include maxScreen768 {
      display: block;
    }
    .menu-label {
      display: flex;
      padding: 1rem 2.3rem;
      margin-right: 0.1rem;
      margin-bottom: 0.1rem;
      cursor: pointer;
      font-weight: 700;
      transition: background ease 0.2s;
      font-size: 1.1rem;
      position: relative;
      background-color: $primary;
      color: $light;
    }
    .menu-label:hover {
      background-color: $green-accent;
    }

    .tab {
      order: 99;
      flex-grow: 1;
      width: 100%;
      display: none;
      padding: 2rem;
      background: $light;
    }
  }
  input[type="radio"] {
    display: none;
  }

  input[type="radio"]:checked + label {
    background: $light;
    color: $green-accent;
  }

  input[type="radio"]:checked + label + .tab {
    display: block;
  }
}
