.modal {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  align-items: center;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 9;
  height: 100vh;
  padding: 0 2rem;
  &__wrapper {
    justify-content: center;
    align-items: center;
  }
  &__form {
    background-color: $light;
    width: 35rem;
  }
  &__content {
    padding: 1rem 1.5rem;
    width: 35rem;
    text-align: center;
    label {
      font-size: 1.3rem;
      color: $light-bg;
    }
    input {
      padding: 1rem;
      border-radius: 0.2rem;
      outline: none;
      border: 1px solid $dark-gray;
      color: $light-bg;
      width: 100%;
    }
    select {
      padding: 1rem;
      border-radius: 0.2rem;
      outline: none;
      border: 1px solid $dark-gray;
      color: $light-bg;
      width: 100%;
    }
    input[type="radio"] {
      display: flex;
      width: unset;
    }
    .exclamation {
      font-size: 3rem;
      color: $yellow-warning;
    }
    .check {
      font-size: 3rem;
      color: $green-accent;
    }
  }
  &__create {
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: $green-accent;
  }
  &__delete {
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: $yellow-warning;
  }
  &__success {
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: $green-accent;
  }
  &__wrap {
    align-items: center;
    color: $light;
  }
  &__close {
    color: $light;
    align-items: center;
    cursor: pointer;
  }
  &__body {
    width: 35rem;
    height: 35vh;
    overflow: auto;
  }
  &__confirmation {
    height: 20vh;
    overflow: auto;
  }
  &__footer {
    padding-right: 1rem;
    gap: 0.5rem;
    margin: 1rem 0;
    justify-content: right;
    position: relative;
  }
  &__foot {
    border-top: 2px solid $dark-gray;
  }
}
.modal--front {
  z-index: 9999;
}
