.banner {
  background-color: $light-gray;
  padding: 1rem 2rem;
  &__wrapper {
    justify-content: space-between;
    align-items: center;
    @include maxScreen1060 {
      align-items: unset;
      justify-content: unset;
      flex-direction: column;
    }
  }
  &__text {
    padding: 1rem 0;
  }
  &__search {
    width: 50%;
    @include maxScreen1060 {
      width: 100%;
      margin-bottom: 0.5rem;
    }

    .search {
      input {
        padding: 0.8rem;
        width: 100%;
        border: 1px solid $dark-gray;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
      }
      button {
        color: $light;
        padding: 1rem;
        border: none;
        background-color: $green-accent;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        cursor: pointer;
      }
    }
    &__result {
      display: none;
      position: absolute;
      background-color: $light-gray;
      height: 20vh;
      overflow: auto;
      width: 42%;
      li {
        padding: 0.5rem 0;
        border-bottom: 1px solid $dark-gray;
      }
      li:hover {
        background-color: $dark-gray;
      }
      a {
        display: flex;
        justify-content: center;
        color: $primary;
      }
    }
  }
  &__button {
    @include maxScreen1060 {
      button {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
  }
}
