$dark: #000;
$light: #fff;
$primary: #35475e;
$dark-bg: #243245;
$light-bg: #3c506a;
$blue-accent: #0597df;
$light-blue: hsl(200, 96%, 55%);

$dark-gray: #d4dae5;
$light-gray: #eef1f7;
$green-accent: #5fa45f;
$yellow-warning: #fb8c15;
$red-critical: #dd3c10;
$light-red: hsl(13, 86%, 95%);
